// border-radius
.rounded {
  border-radius: 0.25rem;
}
.rounded-none	{
  border-radius: 0px;
}
.rounded-xs {
  border-radius: 0.2rem;
}
.rounded-s {
  border-radius: 0.3rem;
}
.rounded-m {
  border-radius: 0.5rem;
}
.rounded-l {
  border-radius: 0.8rem;
}
.rounded-xl {
  border-radius: 1rem;
}
.rounded-half {
  border-radius: 25%;
}
.rounded-full {
  border-radius: 100%;
}

// border
.border-0	{
  border-width: 0px;
}
.border, .border-1 {
  border-width: 1px;
}
.border-2	{
  border-width: 2px;
}
.border-4	{
  border-width: 4px;
}
.border-8	{
  border-width: 8px;
}

.border-x-0	{
  border-left-width: 0px;
  border-right-width: 0px;
}
.border-x, .border-x-1 {	
  border-left-width: 1px;
  border-right-width: 1px;
}
.border-x-2	{
  border-left-width: 2px;
  border-right-width: 2px;
}
.border-x-4	{
  border-left-width: 4px;
  border-right-width: 4px;
}
.border-x-8	{
  border-left-width: 8px;
  border-right-width: 8px;
}

.border-y-0	{
  border-top-width: 0px;
  border-bottom-width: 0px;
}
.border-y, .border-y-1 {
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.border-y-2	{
  border-top-width: 2px;
  border-bottom-width: 2px;
}
.border-y-4	{
  border-top-width: 4px;
  border-bottom-width: 4px;
}
.border-y-8	{
  border-top-width: 8px;
  border-bottom-width: 8px;
}
.border-t-0	{
  border-top-width: 0px;
}
.border-t, .border-t-1	{
  border-top-width: 1px;
}
.border-t-2	{
  border-top-width: 2px;
}
.border-t-4	{
  border-top-width: 4px;
}
.border-t-8	{
  border-top-width: 8px;
}
.border-r-0	{
  border-right-width: 0px;
}
.border-r, .border-r-1	{
  border-right-width: 1px;
}
.border-r-2	{
  border-right-width: 2px;
}
.border-r-4	{
  border-right-width: 4px;
}
.border-r-8	{
  border-right-width: 8px;
}
.border-b-0	{
  border-bottom-width: 0px;
}
.border-b, .border-b-1	{
  border-bottom-width: 1px;
}
.border-b-2	{
  border-bottom-width: 2px;
}
.border-b-4	{
  border-bottom-width: 4px;
}
.border-b-8	{
  border-bottom-width: 8px;
}
.border-l-0	{
  border-left-width: 0px;
}
.border-l, .border-l-1	{
  border-left-width: 1px;
}
.border-l-2	{
  border-left-width: 2px;
}
.border-l-4	{
  border-left-width: 4px;
}
.border-l-8	{
  border-left-width: 8px;
}

.border-black	{
  border-color: rgb(0 0 0);	
}
.border-white	{
  border-color: rgb(255 255 255);
}