/**
 * functional classes
*/

// hidden from document floww
.hidden,
.hidden-none {
  display: none;
}

// hidden but hold place
.hidden-hold {
  visibility: hidden;
}

// hidden but hold place and get events
.hidden-visble {
  opacity: 0;
}