// global scss vars

$prefix: --any;

$levels: top high higher middle lower low bottom;

$status: default light deep normal most more main second sub last;

$actions: force strong care relax prefer ban;

$sizes: base bit mini small medium large huge super;
