// global scss vars

$prefix: --any;

$levels: top higher high middle low lower bottom;

$status: light deep most more main second sub last;

$actions: force strong care relax prefer ban;

$sizes: bit mini small medium large huge super;
