// backgrounds
@import '../types.scss';

@each $state in  $status {
  // public color background
  .back-#{$state} {
    background-color: var(#{$prefix}-backgrounds-#{$state}, inherit);
  }
  // public gradient background
  .back-mix-#{$state} {
    background-image: var(#{$prefix}-backgrounds-gradients-#{$state}, inherit);
  }
  // public image background
  .back-img-#{$state} {
    background-image: var(#{$prefix}-backgrounds-images-#{$state}, inherit);
  }
  // public hover background
  .back-hover-#{$state} {
    &:hover {
      background-color: var(#{$prefix}-backgrounds-images-#{$state}, inherit);
    }
  }
  // public focus background
  .back-focus-#{$state} {
    &:focus {
      background-color: var(#{$prefix}-backgrounds-images-#{$state}, inherit);
    }
  }
  // public active background
  .back-active-#{$state} {
    &:active {
      background-color: var(#{$prefix}-backgrounds-images-#{$state}, inherit);
    }
  }
}

